h1{text-decoration: underline;text-align:
    center}
    p{font-family: Arial,
    verdana; color :rgb(0, 0, 0);
    backgrount-color:black}
    body{color:rgb(15, 15, 15);
    background-color: #cccccc;
     text: indent :1cm }
     h2{
        color:red;
        font-size: 22px;
     }